<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<div class="body">

      <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a href="#">about us</a></li>
  	 				<li><a href="#">our services</a></li>
  	 				<li><a href="#">privacy policy</a></li>
  	 				<li><a href="#">affiliate program</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>get help</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">shipping</a></li>
  	 				<li><a href="#">returns</a></li>
  	 				<li><a href="#">order status</a></li>
  	 				<li><a href="#">payment options</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>online shop</h4>
  	 			<ul>
  	 				<li><a href="#">watch</a></li>
  	 				<li><a href="#">bag</a></li>
  	 				<li><a href="#">shoes</a></li>
  	 				<li><a href="#">dress</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
 
    <!-- <p class="smaller-text">All Rights Reserved &copy; <br> Jack Amsterdam  {{date | date: 'MMMM YYYY'}} </p>
    &nbsp;&nbsp;&nbsp;
    <a target="_blank" href="https://wakatime.com/@a78fee14-66a3-4481-8db3-b8983c271faf"><img
            src="https://wakatime.com/badge/user/a78fee14-66a3-4481-8db3-b8983c271faf.svg"
            alt="Total time coded since Jan 4 2022" /></a>
  
        <div class="stack">
    <a color="primary" mat-button href='https://www.linkedin.com/in/jack-amsterdam/' target="_blank">Linkedin</a>
    <a color="warn" mat-button href='https://github.com/jackamsterdam' target="_blank">Github</a>
</div> -->
</div>